<section class="lista-curriculos">
  <!-- property do data binding *ngFor -->
  <div *ngFor="let curriculo of curriculos">
    <div class="card">
      <img [src]="'assets/img/curriculos/' + curriculo.foto">
      <div class="card-body">
        <h5 class="card-title">Código do currículo: {{curriculo.cpf}}</h5>
        <h5 class="card-title">Currículo: {{curriculo.nome}}</h5>
        <p class="card-text">Descrição do currículo: {{curriculo.descricao}}</p>
        <p class="card-text">Descrição do currículo: {{curriculo.formacao}}</p>
        <p class="card-text">Descrição do currículo: {{curriculo.experiencia}}</p>
        <button (click)="deletarCurriculo(curriculo.cpf)" class="btn btn-danger btn-sm" style="margin-top: 0.5rem;">
          Deletar
        </button>
      </div>
    </div>

  </div>
  <div class="rodape" style="text-align: right; padding: 2rem;">
    <button routerLink="/cadastro-curriculo" class="btn btn-primary">
      Novo Currículo
    </button>
  </div>
</section>
