<h2>Cadastrar</h2>
<form action="">
  <label>CPF</label>
  <input type="text" name="cpf" [(ngModel)]="curriculo.cpf"> <br>

  <label>Nome</label>
  <input type="text" name="nome" [(ngModel)]="curriculo.nome"> <br>

  <label>Foto</label>
  <input type="text" name="foto" [(ngModel)]="curriculo.foto"> <br>

  <label>Descrição</label>
  <input type="text" name="descricao" [(ngModel)]="curriculo.descricao"> <br>

  <label>Experiência</label>
  <input type="text" name="experiencia" [(ngModel)]="curriculo.experiencia"> <br>

  <label>Formação</label>
  <input type="text" name="formacao" [(ngModel)]="curriculo.formacao"> <br>

  <button type="button" (click)="cadastrar()">Cadastrar curriculo</button>
  <button type="button" (click)="atualizar(curriculo.id)">Atualizar curriculo</button>
<button type="button" (click)="remover(curriculo)">Excluir curriculo</button></form>

<!-- tabela com os currículos já cadastrados -->
<section class="listar-vagas">
  <table class="table">
    <thead>
      <tr>
        <th>Código do currículo</th>
        <th>Nome</th>
        <th>Descrição do currículo</th>
        <th>Experiência</th>
        <th>Formação</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr class="curriculo-row" *ngFor="let curriculo of curriculos">
        <td>{{curriculo.cpf}}</td>
        <td>{{curriculo.nome}}</td>
        <td>{{curriculo.descricao}}</td>
        <td>{{curriculo.experiencia}}</td>
        <td>{{curriculo.formacao}}</td>
        <td>
          <button class="btnlistar" type="button" (click)="listarCurriculoUnico(curriculo)">Listar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>